@mixin no-border-rounded-corners($size) {
	border: 0px solid transparent;
	border-radius: $size;
}
@mixin center-position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}